
#wrapper{
    font-family: 'Times New Roman', Times, serif;
}
nav{
    text-align: center;
    position: relative;
}
header{
    font-weight: bold;
    text-align: center;
}
.card-title{
    text-align: center;
}
.dropdown-item{
    text-align: center;
}
table{
    margin: 10%;
    width: 80%;
    border: solid 3px black;
}
td{
    text-align: center;
    border: solid 1px black;
}
.cim{
    font-weight: bold;
}
.sz{
    margin-left: 5%;
    margin-right: 5%;
}